html, body {
  margin: 0;
  height: 100%;
  font-family: calibri;
  max-height: 100%;

}

header {
	z-index:10;

}

.header-banner {
    width: 100%;
    height: 250px;
    background-image: url('../imgs/logo.jpg');
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: center;


}

body{
  padding: 0;
  font-size: 15;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;

}

.content {
  flex: 1 0 auto;
}

.slides img {

margin: 0 auto;
  width: 100%;

}

.feature1 img{

	width: 100%
}

.innerbody img {
  max-width: 100%;
}

.threelinks {
  position: relative;
  width:33.3%;
  margin-top: 150px;
  float:left;
  text-align: center;
  color: #ffffff;
  background-color: black ;
}
.threelinks img {

  border-radius: 150px;

}



.feature1 {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;

  }

  .feature1:hover{
    -webkit-filter: brightness(100%);
}

.feature2 {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;

  }

  .feature2:hover{
    -webkit-filter: brightness(100%);
}

.feature3:hover{
  -webkit-filter: brightness(100%);
}

.feature3 {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;

  }

  .feature3:hover{
    -webkit-filter: brightness(100%);
}




nav {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height:40px;
  z-index:10;
  text-align:center;
  font-size: 14pt;

}

nav ul{
  margin: 0 auto;
  display: inline-block;
  padding: 0;
  position: relative;

}

nav ul li {
  display: inline-block;
  list-style-type: none;

}

nav ul li a {
  color: #aaa;
  line-height: 2em;
  padding: 0.5em 3.5em;
  text-decoration: none;
  background-color: black;
   }

nav ul li a:hover {
  color: #FF69B4
}


#responsive_nav {
	display: none;
	cursor: pointer;
}

#tog {
	display: none;
}


@media (min-width: 0px) and (max-width: 768px) {

  nav {
    margin-top: -60px;
    margin-bottom: 110px;

 }

	nav ul li {
		display: block;
	}

  nav ul li a {
    color: #ff69b4;
    background-color: black;

  }

	#nav {
		display: none;
	}
	#responsive_nav {
		color: white;
		font-weight: bold;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		padding: 0;

  	}

	input[type=checkbox]:not(:checked)~ul{
		display: none;
	}

	input[type=checkbox]:checked~ul{
		display: block;
}

.feature1 img{

	width: 100%
}

.innerbody img {
  max-width: 100%;
}

div.text {
  color: #aaa;
  margin-top: 15px;
  font-size: 12px;

}

p  {
  font-size: 10px
}

h1 {
  font-size: 14px;
}

a {
  font-size: 12px;

}

li{
  background-color:black;
}

	}

video {
position: relative; right: 0; bottom: 0;
width: auto; height: auto;
background-color: black;
background-size: cover;
min-width: 100%; min-height: 100%;
max-width: 100%; max-height: 100%;
}

.innerbody {
    margin: 0 auto;
    max-width: 100%;
    background: black;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 50px;
}

.button {
    position: relative;
    display: inline-block;
    width: 5%;
    background-color: white;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #aaa;
}
.button a {
  text-decoration: none;
  color: black;

}

.footer {
  flex-shrink: 0;
  padding: 0px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  color: #efefef;
  text-align: center;
  background: black;

}

topButton {
    position: fixed;
    display: inline-block;
    outline: none;
}

topButton:hover {
    background-color: #ff69b4;
}


}

@keyframes sliding {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  margin: 0;
  width: 500%;
  position: relative;
  animation: 10s sliding infinite;
  font-size: 0;
  left: 0;
  text-align: left;
}


h1 {
  color: #ff69b4;
  position:relative;
  text-align:center;
  font-style: oblique;
}

h2 {
  color: #aaa;
  text-align: center;
  text-decoration: overline underline;
  text-decoration-color: #FF69B4;

}
#map {
position: relative;
height: 500px;
width: 100%;
left: 0px;
top: 100%;
clear: both;
}
 .body{
   display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.body p {
  color: #aaa;
}


#intro{
position: absolute;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}


/* Caption text */
.text {
  color: #aaa;
  font-size: 18px;
  position: absolute;
  bottom: 0px 28px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ff69b4;
  text-decoration: overline underline;
  font-weight: bold;
  position: absolute;
  padding: 8px 12px;
  font-size: 12px;
  top: 0;
}



.active, .dot:hover {
  background-color: #FF69B4;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.icons {
  width: 33.3%;
  display: inline-block;
  margin: 0;
  text-align: center;
}

.contactbg {
	background-image:url("../imgs/s2000.jpg");
	position:absolute;
	background-size:cover;
	background-attachment:fixed;
	height:850px;
	width:100%;

}

.contact_wrapper {
	width:500px;
	max-width:100%;
  position:relative;
  z-index:1;
  box-sizing:border-box;
	padding:15px ;
  box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
	background: black;
	margin:5% auto 0;
  margin-bottom: 200px;

}
.contact_container {
	padding:15px;
  border-style:  solid dashed;
  border-color: #aaa;
	border-width:3px;
}
.contact_wrapper h2 {
	font-size:1.5em;
  color: #FF69B4;
	line-height:1.5em;
	margin:0;
}
.contact_wrapper .top_container {
	text-align:center;
	border-bottom:1px dashed #ccc;
	margin:-15px -15px 15px;
	padding:15px 0;
}
.contact_wrapper h3 {
	font-weight:normal;
	line-height:1.5em;
	font-size:1.1em;
	margin:0;
  color: #aaa;
}
.contact_wrapper .row {
	margin:10px -15px;
}
.contact_wrapper .row > div {
	padding:0 15px;
	box-sizing:border-box;
}
.contact_wrapper .col_half {
	width:50%;
	float:left;
}
.contact_wrapper label {
	margin:0 0 5px;
	display:block;
  color: #ff69b4;
}
.contact_wrapper .input_field, .contact_wrapper .textarea_field {
	position:relative;
}
.contact_wrapper .input_field > span, .contact_wrapper .textarea_field > span {
	position:absolute;
	top:0;
	color:#aaa;
	height:100%;
	left:0;
	border-right:1px solid #aaa;
	text-align:center;
	width:30px;
}
.contact_wrapper .textarea_field > span {
	max-height:35px;
	border-bottom:1px solid #aaa;
}
.contact_wrapper .input_field > span > i, .contact_wrapper .textarea_field > span > i {
	padding-top:12px;
}
.contact_wrapper input[type="text"], .contact_wrapper input[type="email"], .contact_wrapper input[type="tel"], textarea {
	width:100%;
	padding:10px 10px 10px 35px;
	border:1px solid #aaa;
	box-sizing:border-box;
	outline:none;
	-webkit-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
}
.contact_wrapper textarea {
	height:8em;

}
.contact_wrapper input[type="text"]:focus, .contact_wrapper input[type="email"]:focus, .contact_wrapper input[type="tel"]:focus, textarea:focus {
	border:1px solid #f5ba1a;
	box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.6);
	-webkit-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.6);
	-moz-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.6);
}
.contact_wrapper input[type="submit"] {
	background: #aaa;
	height:50px;
	width:100%;
	color:black;
	border:none;
	outline:none;
	font-size:1.2em;
	cursor:pointer;
	line-height:50px;
	-ms-transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.contact_wrapper input[type="submit"]:hover, .contact_wrapper input[type="submit"]:focus {
	background: #FF69B4;
  color: black;
}
